html {
    background: #000000;
}

#brandNav {
    display: flex;
}

#listNav {
    flex-direction: row;
}

#listNav li {
    padding: 0 10px;
}

#section-subs {
    text-align: center;
}

.card-price {
    max-width: 28%;
    min-height: 300px;
    margin: 10px 2.5%;
    padding: 0;
}

.icon-feacture {
    width: 40px;
    height: 40px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-column-gap: 10px;
    align-items: center;
}

.grid-item-1 {
    justify-self: center;
}

.btn-price {
    margin: 15px auto;
}

header {
    width: 100%;
    position: fixed;
}

/* nav {
    position: fixed;
}
 */
h1 {
    display: inline-block;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: auto 0;
}

input {
    margin: 10px 0;
    display: block;
    width: 75%;
}

section {
    margin: 20px;
    align-items: center;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    #como-funciona {
        width: 80%;
        margin: 10px 10% 30px 10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    #como-funciona {
        width: 60%;
        margin: 50px 20% 50px 20% !important;
    }
    iframe {
        height: 450px;
    }
}