html {
    background: #000000;
}

body {
    padding-top: 70px;
}

#nav-bar{
    background-color: hsl(0, 0%, 93%);
}
#brandNav {
    display: flex;
}

#listNav {
    flex-direction: row;
}

#listNav li {
    padding: 0 10px;
}

#section-subs {
    text-align: center;
}

#footer-nav {
    flex-direction: column;
    align-items: flex-end;
    background-color:hsl(0, 0%, 93%);
}

#footer-nav-ul li {
    text-align: right;
    padding: 5px 20px 10px 0;
    margin: 0 20px;
}

#footer-nav span {
    margin-right: 40px;
}

.card-price {
    max-width: 28%;
    min-height: 300px;
    margin: 10px 2.5%;
    padding: 0;
    border: 1px solid #999999;
    box-shadow: 6px 15px 15px black;
}

.card-price h3 {
    text-align: center;
    background-color: hsl(0, 0%, 93%);
}

.icon-feacture {
    width: 40px;
    height: 40px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-column-gap: 10px;
    align-items: center;
}

.grid-item-1 {
    justify-self: center;
}

.btn-price {
    margin: 15px auto;
}

h1 {
    display: inline-block;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: auto 0;
}

input {
    margin: 10px 0;
    display: block;
    width: 75%;
}

section {
    margin: 20px;
    align-items: center;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    #como-funciona {
        width: 80%;
        margin: 10px 10% 30px 10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    #como-funciona {
        width: 60%;
        margin: 50px 20% 50px 20% !important;
    }
    iframe {
        height: 450px;
    }
    section#precios .card-price{
        min-width: 28%;
        height: auto !important;
    }
}